body {
    font-family: Arial, sans-serif;
    background-image: url(sonic_central_logo.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 20;
    padding: 20px;
}


h1, h2 {
    text-align: center;
}

.centered {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

img {
    width: 12;
    height: 12;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section h2 {
    margin-top: 0;
}

ul, ol {
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}




    

